src/install/Nova Pasta/pc-programas/xml_scielo/proc/general/schema/Untitled4.dtd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Organização PanAmericana da Saúde Bireme (Organização PanAmericana da Saúde Bireme) --><!--DTD generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)--><!ELEMENT Article (PublisherId, ArticleId, Journal, ArticleTitle?, FirstPage, LastPage, AuthorList?, ReferenceList?)><!ELEMENT ArticleId (#PCDATA)><!ELEMENT ArticleSet (Article+)><!ELEMENT ArticleTitle (#PCDATA)><!ELEMENT Author (FirstName, LastName)><!ELEMENT AuthorList (Author+)><!ELEMENT FirstName (#PCDATA)><!ELEMENT FirstPage (#PCDATA)><!ELEMENT Issn (#PCDATA)><!ELEMENT Issue (#PCDATA)><!ELEMENT Journal (PublisherName, JournalTitle, Issn, Volume, Issue, PubDate)><!ELEMENT JournalTitle (#PCDATA)><!ELEMENT LastName (#PCDATA)><!ELEMENT LastPage (#PCDATA)><!ELEMENT Month (#PCDATA)><!ELEMENT PubDate (Year, Month)><!ELEMENT PublisherId (#PCDATA)><!ELEMENT PublisherName (#PCDATA)><!ELEMENT Reference (ReferenceJournal, ReferenceYear, ReferenceVolume, ReferenceFirstPage, AuthorList?, ReferenceId)><!ELEMENT ReferenceFirstPage (#PCDATA)><!ELEMENT ReferenceId (#PCDATA)><!ELEMENT ReferenceJournal (#PCDATA)><!ELEMENT ReferenceList (Reference+)><!ELEMENT ReferenceVolume (#PCDATA)><!ELEMENT ReferenceYear (#PCDATA)><!ELEMENT Volume (#PCDATA)><!ELEMENT Year (#PCDATA)>