src/scielo/docs/SciELO/DTD/v3/citation31.dtd

<!-- ==================================================================== -->
<!--    Citation Elements  (ARTICLE 3.1, TEXT 3.1)                          -->
<!-- ==================================================================== -->

<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--    Models                                                            -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ENTITY % common SYSTEM "common31.dtd">
%common;

<!ENTITY % m.conf   "(sponsor | confname | no | date | city | state |
                      country)*" >
<!ENTITY % m.thes   "(city? & state? & country? & date? & degree? & 
                      (%m.org;)?)" >
<!ENTITY % m.van    "vcitat+" >
<!ENTITY % m.iso    "icitat+" >
<!ENTITY % m.abnt   "acitat+" >
<!ENTITY % m.other  "ocitat+" >

<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--    Conference Group                                                  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ELEMENT confgrp  - - (%m.conf;) >

<!ELEMENT sponsor  - - (%m.org;) >
<!ELEMENT confname - - (#PCDATA) >
<!ELEMENT no       - - (#PCDATA) >
<!-- <!ELEMENT city     - - (#PCDATA) > -->
<!-- <!ELEMENT state    - - (#PCDATA) > -->
<!-- <!ELEMENT country  - - (#PCDATA) > -->




<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--    Thesis Group                                                      -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ELEMENT thesgrp  - - (%m.thes;) >

<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--    patgrp group                                                       -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ELEMENT patgrp  - - ( orgname, patent, date? ) >
<!ATTLIST patgrp
          country    CDATA #REQUIRED >
<!ELEMENT patent - - (#PCDATA) >

<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--    VANCOUVER                                                         -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ELEMENT vancouv  - - (%m.van;) >
<!ATTLIST vancouv
          standard CDATA #REQUIRED 
          count    CDATA #REQUIRED >
<!ELEMENT vcitat   - - (text-ref?, no?, (vcontrib? & viserial? & vmonog?)) >
<!ELEMENT text-ref    - - (#PCDATA) >

<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--    Contribution                                                      -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ELEMENT vcontrib - - ( ((author | corpauth)*, et-al?) , vtitle?, patgrp? ) >

<!ELEMENT et-al    - - (#PCDATA) >
<!ELEMENT vtitle   - - (%m.title;, tp?) >
<!ELEMENT tp       - - (#PCDATA) >

<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--    Serial Level                                                      -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ELEMENT viserial - - (vstitle & (date | inpress | volid | issueno | suppl |
                        part | cited | extent | pages | url )*) >

<!ELEMENT vstitle  - - (stitle, tp?) >
<!ELEMENT stitle   - - (#PCDATA) >
<!ELEMENT inpress  - - (#PCDATA) >
<!ELEMENT volid    - - (#PCDATA) >
<!ELEMENT issueno  - - (#PCDATA) >
<!ELEMENT suppl    - - (#PCDATA) >
<!ELEMENT part     - - (#PCDATA) >
<!ELEMENT cited    - - (#PCDATA) >
<!ATTLIST cited
          dateiso  CDATA #REQUIRED >
<!ELEMENT extent   - - (#PCDATA) >
<!ELEMENT pages    - - (#PCDATA) >
<!ELEMENT url      - - (#PCDATA) >


<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--    Monographic Level                                                 -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ELEMENT vmonog   - - ( ((author | corpauth)*, et-al?)  & vtitle? & (edition |
                        version | confgrp | city | state | pubname | inpress | 
                        date | pages | report | thesis | url | cited | patgrp)*) >

<!ELEMENT edition  - - (#PCDATA) >
<!ELEMENT version  - - (#PCDATA) >
<!ELEMENT pubname  - - (#PCDATA) >


<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--    ISO 690/87                                                        -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ELEMENT iso690   - - (%m.iso;) >
<!ATTLIST iso690
          standard CDATA #REQUIRED 
          count    CDATA #REQUIRED >

<!ELEMENT icitat   - - (text-ref?, no?, (icontrib? & iiserial? & imonog?)) >


<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--    Contribution                                                      -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ELEMENT icontrib - - ( ((author | corpauth)*, et-al?) & subresp* & 
                        (%m.title;)? & section? & pages? & location? &
                        notes?  & isbn? & patgrp? ) >

<!ELEMENT subresp  - - (%m.name;) >
<!ATTLIST subresp
          role     CDATA #REQUIRED >
<!ELEMENT section  - - (#PCDATA) >
<!ELEMENT location - - (#PCDATA) >

<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--    Serial Level                                                      -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ELEMENT iiserial - - (isstitle? & ((author | corpauth)*, et-al?) & medium? 
                        & (stitle | sertitle)? & (edition | city | state |
                        country | pubname | date | update | cited | location
                        | volid | isdesig | issueno | pages | notes | url |
                        issn)*) >

<!ELEMENT isstitle - - (#PCDATA) >
<!ELEMENT medium   - - (#PCDATA) >
<!ELEMENT notes    - - (#PCDATA) >
<!ELEMENT issn     - - (#PCDATA) >
<!ELEMENT isdesig  - - (#PCDATA) >

<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--    Monographic Level                                                 -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ELEMENT imonog   - - (  ((author | corpauth)*, et-al?) & (%m.title;) & medium?
                        & ( edition | subresp | city | state | country 
                        | pubname | date | update | cited | volid | pages
                        | extent | location | coltitle | notes | url | isbn | patgrp)*) >

<!ELEMENT coltitle - - (#PCDATA) >
<!ELEMENT update   - - (#PCDATA) >
<!ATTLIST update
          dateiso CDATA #REQUIRED >

<!ELEMENT isbn     - - (#PCDATA) >


<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--    ABNT NBR6023/89                                                   -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ELEMENT abnt6023 - - (%m.abnt;) >
<!ATTLIST abnt6023
          standard CDATA #REQUIRED 
          count    CDATA #REQUIRED >

<!ELEMENT acitat   - - (text-ref?, no?, (acontrib? & amonog? & aiserial? & confgrp?)) >


<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--    Contribution                                                      -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ELEMENT acontrib - - ( ((author | corpauth)*, et-al?)  & (%m.title;) & volid?
                        & pages? & patgrp? ) >


<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--    Serial Level                                                      -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ELEMENT aiserial - - ((sertitle | stitle)? & isstitle? & (city | state |
                        country | pubname | suppl | volid | issueno | date | 
                        extent |  pages | notes | issn | url | cited )*) >

<!ELEMENT sertitle - - (#PCDATA) >


<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--    Monographic Level                                                 -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ELEMENT amonog   - - ( ((author | corpauth)*, et-al?)  |
                        (%m.title;) | subresp | edition | confgrp | city | state | country 
                        | pubname | date | volid | tome | extent | pages | 
                        coltitle | colvolid | notes | isbn | thesis | url | cited | patgrp)* >

<!ELEMENT tome     - - (#PCDATA) >
<!ELEMENT colvolid - - (#PCDATA) >


<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--    Other (DTD fbpe 1.1)                                              -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ELEMENT other    - - (%m.other;) >
<!ATTLIST other
          standard CDATA #REQUIRED 
          count    CDATA #REQUIRED >
        
<!ELEMENT ocitat   - - (text-ref?, no?, (ocontrib | omonog | oiserial | confgrp)*) >


<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--    Contribution                                                      -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ELEMENT ocontrib - - (((oauthor | ocorpaut )*, et-al?) & (%m.title;)? & date? 
                        & pages? &  patgrp?) >

<!ELEMENT oauthor  - - ((%m.name;) | anonym | previous) >
<!ATTLIST oauthor
          role     NAMES  #REQUIRED
          rid      IDREFS #IMPLIED >
<!ELEMENT ocorpaut - - ((%m.org;) | previous) >
<!ELEMENT previous - - (#PCDATA) >
<!ELEMENT anonym   - - (#PCDATA) >


<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--    Monographic Level                                                 -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ELEMENT omonog   - - (((oauthor | ocorpaut)*, et-al?) & ((%m.title;)? &
                        confgrp? & thesis? & date? & pages? & edition? & 
				 city? & state? & country? & pubname? & extent? &
                         coltitle? & volid? & isbn? & othinfo? & url? & cited? & patgrp?))+ >

<!ELEMENT othinfo  - - (#PCDATA) >


<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--    Serial Level                                                      -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ELEMENT oiserial - - ((sertitle | stitle)? & (isstitle? & othinfo? &
                        city? & country? & pubname? & volid? & issueno? & suppl? & 
                        pages? & extent? & date? & issn? & url? & cited? )+) >


<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--    Thesis                                                            -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ELEMENT thesis   - - (%m.thes;) >

<!ELEMENT degree   - - (#PCDATA) >




